############### MAC OS IGNORE
.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes


############### WINDOWS IGNORE
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

############### BINARY IGNORE
# Build and Release Folders
bin/
bin-debug/
bin-release/

# Other files and folders
.settings/

############### FLASH BUILDER IGNORE
.actionScriptProperties
.flexLibProperties
.project

############### INTELLIJ BUILDER IGNORE
*.iml
*.ipr
*.iws
.idea/

############### PYTHON IGNORE
*.pyc